DATABASE_URL="jdbc:postgresql://your-supabase-host:5432/postgres"
DATABASE_USERNAME="your-supabase-username"
DATABASE_PASSWORD="your-supabase-password"
JWT_SECRET="replace-with-at-least-32-characters"
